<div
  class="reset-password"
  data-template="customers/reset-password"
>
  <div class="reset-password__in">
    {% form 'reset_customer_password', id: 'reset-password__form' %}
      <h1 class="reset-password__form-title">
        {{ 'customer.reset_password.title' | t }}
      </h1>

      <p class="reset-password__form-text">
        {{ 'customer.reset_password.subtext' | t: email: email }}
      </p>

      {% if form.errors != blank %}
        <div class="reset-password__form-errors">
          {{ form.errors | default_errors }}
        </div>
      {% endif %}

      <div class="reset-password__form-labels">
        <label
          class="reset-password__form-label"
          data-control
          data-error
          data-required-error="Required"
          data-control-custom-rules="Password does not meet minimal requirements."
        >
          <input
            type="password"
            name="customer[password]"
            data-field
            placeholder="{{ 'customer.reset_password.password' | t }}"
          >

          <span>
            {{ 'customer.reset_password.password' | t }}
          </span>

          <button type="button">
            <span class="visually-hidden"> Show/Hide password button </span>
          </button>

          <div data-error></div>

          <div data-form-custom-rules>
            <span
              data-form-custom-rule
              data-form-custom-rule-pattern="/^(?=.*).{8,}$/"
            >
              Minimum of 8 characters
            </span>

            <span
              data-form-custom-rule
              data-form-custom-rule-pattern="/^(?=.*[A-Z])/"
            >
              1 uppercase letter
            </span>

            <span
              data-form-custom-rule
              data-form-custom-rule-pattern="/^(?=.*[a-z])/"
            >
              1 lowercase letter
            </span>

            <span
              data-form-custom-rule
              data-form-custom-rule-pattern="/^(?=.*\d)/"
            >
              1 number
            </span>
          </div>
        </label>

        <label
          class="reset-password__form-label"
          data-control
          data-error
          data-required-error="Required"
          data-control-custom-rules="Password does not meet minimal requirements."
        >
          <input
            type="password"
            name="customer[password_confirmation]"
            data-field
            placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
          >

          <span>
            {{ 'customer.reset_password.password_confirm' | t }}
          </span>

          <button type="button">
            <span class="visually-hidden"> Show/Hide password button </span>
          </button>

          <div data-error></div>

          <div data-form-custom-rules>
            <span
              data-form-custom-rule
              data-form-custom-rule-pattern="/^(?=.*).{8,}$/"
            >
              Minimum of 8 characters
            </span>

            <span
              data-form-custom-rule
              data-form-custom-rule-pattern="/^(?=.*[A-Z])/"
            >
              1 uppercase letter
            </span>

            <span
              data-form-custom-rule
              data-form-custom-rule-pattern="/^(?=.*[a-z])/"
            >
              1 lowercase letter
            </span>

            <span
              data-form-custom-rule
              data-form-custom-rule-pattern="/^(?=.*\d)/"
            >
              1 number
            </span>
          </div>
        </label>
      </div>

      <div class="reset-password__form-button-wr">
        <input
          class="reset-password__form-button"
          type="submit"
          value="{{ 'customer.reset_password.submit' | t }}"
        >
      </div>
    {% endform %}
  </div>
</div>

{{ 'customers.js' | asset_url | script_tag }}
