<section class="password">
  <div class="password__header">
    {% render 'icon-logo' %}

    <div class="password__icons">
      <a class="password__icon" href="{{ section.settings.instagram_link }}" target="_blank" rel="noopener noreferrer">{% render 'icon-instagram' %}</a>
      <a class="password__icon" href="{{ section.settings.twitter_link }}" target="_blank" rel="noopener noreferrer">{% render 'icon-twitter' %}</a>
    </div>
  </div>

  <div class="password__video">
    {{ section.settings.video_embed }}
  </div>

  <div class="password__body">
    <h1 class="password__title">{{ section.settings.title }}</h1>
    <div class="password__text">{{ section.settings.text }}</div>

    {% render 'newsletter-form' %}
  </div>

  <span class="password__copyright">{{ section.settings.copyright }}</span>
</section>

{% schema %}
  {
    "name": "Password Page",
    "settings": [
      {
        "type": "url",
        "id": "instagram_link",
        "label": "Instagram Link"
      },
      {
        "type": "url",
        "id": "twitter_link",
        "label": "Twitter Link"
      },
      {
        "type": "html",
        "id": "video_embed",
        "label": "Video iFrame embed code"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "copyright",
        "label": "Copyright"
      }
    ]
  }
{% endschema %}